#parallax1{
  margin-top: 20px;
  height: 390px;
  width: 100%;
  background-image: linear-gradient(90deg, rgba(30, 30, 30, 0.6) 10%, rgba(46, 46, 46, 0.5) 90%); 
}

#bloc-accueil {
  text-align: center;
}

#bloc-accueil p {
  padding-top: 140px;
  font-size: 40px;
  font-family: 'Hind', sans-serif;
  color: #FFFFFF;
}

#bloc-accueil h1 {
	font-size: 18px;
	color: #EDEDED;
	font-family: 'Hind', sans-serif;
}

/*-------------------*/


#texte-page-devoir{
	text-align: center;
	background-color: #53AB45;
	border-top: 1px solid #535353;
	border-bottom: 1px solid #737373;
	padding-top: 8px;
	height: 100%
}

#texte-page-devoir p {
	color: #FFFFFF;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	
}

/*-----------------*/

#selection-niveau {
	margin-top: 10px;
}

#niveau {
	background-color: #53AB45;
	border: 1px solid #737373;
	border-radius: 7px;
	min-height: 60px;
	text-align: center;
	padding: 10px 0px;
}

#niveau p {
	font-size: 18px;
	font-family: 'Roboto', sans-serif;
	color: #FFFFFF;
}

#selection {
	width: 100%;
	display: block;
	margin: 0 auto;
}
